

    <main>

        <div class="section">
            <div class="container">
                    {{#each page.sections}}
                        <div class="h2 section-title">{{this.title}}</div>
                        {{#each this.body}}
                            {{#switch this.type}}
                                {{#case '1'}}
                                    <div class="row">
                                        <div class="col-xl-8 offset-xl-2">
                                            <div class="simple-page pt-0">
                                                {{{this.content}}}
                                            </div>
                                        </div>
                                    </div>
                                {{/case}}
                                {{#case '2'}}
                                    <div class="row">
                                        <div class="col-xl-8 offset-xl-2">
                                            <div class="simple-page pt-0">
                                                <div class="simple-swiper">
                                                    <div class="swiper-entry">
                                                        <div class="swiper-container" data-options='{"slidesPerView":1,"autoHeight":true}'>
                                                            <div class="swiper-wrapper">
                                                                {{#each this.content}}
                                                                    <div class="swiper-slide">
                                                                        <div class="img-wrapp"><img src="{{this.image}}" alt="" class="img"></div>
                                                                        <figure class="simple-figure m-0">
                                                                            <figcaption>{{this.text}}</figcaption>
                                                                        </figure>
                                                                    </div>
                                                                {{/each}}
                                                            </div>
                                                            <div class="swiper-pagination"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/case}}
                                {{#case '3'}}
                                    <div class="section pt-0">
                                        {{#each this.content}}
                                            {{#ifCond this.left "==" "true"}}
                                                <div class="row benefit">
                                                    <div class="col-xl-7 offset-xl-1">
                                                        <div class="pr-xl-27"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt="" class="img"></div>
                                                    </div>
                                                    <div class="col-xl-3">
                                                        <div class="benefit-desc d-flex flex-column justify-content-center">
                                                            <div class="benefit-title type-1 d-flex align-items-center h4">{{this.title}}</div>
                                                            <p>{{this.text}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="row benefit">
                                                    <div class="col-xl-3 offset-xl-1 order-2 order-xl-1">
                                                        <div class="benefit-desc d-flex flex-column justify-content-center">
                                                            <div class="benefit-title type-1 d-flex align-items-center h4">{{this.title}}</div>
                                                            <p>{{this.text}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-7 order-1 order-xl-2">
                                                        <div class="pr-xl-27"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt="" class="img"></div>
                                                    </div>
                                                </div>
                                            {{/ifCond}}
                                        {{/each}}
                                    </div>
                                {{/case}}
                                {{#case '4'}}
                                    <div class="mobile-slider mobile-fullwidth">
                                        <div class="swiper-entry">
                                            <div class="swiper-container" data-options='{"slidesPerView":2, "spaceBetween": 15, "pagination": {"type": "fraction", "el": ".swiper-pagination"}, "breakpoints": {"1199": {"slidesPerView": 3, "pagination": {"type": "fraction"}}}}'>
                                                <div class="swiper-button-prev d-none"></div>
                                                <div class="swiper-button-next d-none"></div>
                                                <div class="swiper-wrapper row justify-content-xl-center flex-nowrap flex-xl-wrap">
                                                    {{#each this.content}}
                                                        <div class="swiper-slide col-xl-3">
                                                            <div class="circle">
                                                                <div class="circle-entry d-flex flex-column justify-content-center">
                                                                    <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""></div>
                                                                    <div class="circle-title">{{this.title}}</div>
                                                                    <div class="circle-excerpt text-truncate line-2">{{this.text}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                                <div class="swiper-pagination d-xl-none"></div>
                                            </div>
                                        </div>
                                    </div>
                                {{/case}}
                                {{#case '5'}}
                                    <div class="section pt-0">
                                        <!--                                    <div class="h3 section-title type-3 text-center">Сервіси</div>-->
                                        <div class="row cols-3">
                                            {{#each this.content}}
                                                <div class="col-md-6 col-lg-4">
                                                    <div class="post">
                                                        <div class="post-img size-1"><a href="post/{{this.link}}"><img src="{{this.image}}" alt="" class="img"></a></div>
                                                        <div class="post-info">
                                                            <a href="post/{{this.link}}" class="h5 post-title d-block">{{this.title}}</a>
                                                            <div class="post-excerpt text-truncate line-3">{{this.text}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <div class="spacer-sm"></div>
                                    </div>
                                {{/case}}
                                {{#case '6'}}
                                    <div class="section pt-0">
                                        <div class="row">
                                            <div class="col-xl-8 offset-xl-2">
                                                <div class="accordion">
                                                    {{#each this.content}}
                                                        <div class="accordion-item">
                                                            <div class="h5 accordion-title">{{this.title}}</div>
                                                            <div class="accordion-inner">
                                                                <div class="simple-page p-0">
                                                                    {{{this.text}}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/case}}
                            {{/switch}}
                        {{/each}}
                    {{/each}}
<!--                </div>-->
<!--                    <div class="col-xl-8 offset-xl-2">-->
<!--                        <h1 class="h2 section-title">Доставка</h1>-->

<!--                        <div class="icon-box d-flex flex-column flex-sm-row">-->
<!--                            <div class="icon-box-caption align-self-center order-2 order-sm-1">-->
<!--                                <div class="h4 d-none d-sm-block">Нова Пошта</div>-->
<!--                                <p>При виборі кур’єрської служби Нова Пошта, після того, як Ваше замовлення буде готове, ми відправимо його за призначеною адресою. Терміни доставки: 1-3 робочих днів. Відстежити своє замовлення ви можете тут: <a href="https://novaposhta.ua/tracking" target="_blank">https://novaposhta.ua/tracking</a>. Після того, як Ваше замовлення буде готове, ми відправимо його за призначеною адресою. Терміни доставки: 1-3 робочих днів</p>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center order-1 order-sm-2 mb-15 mb-sm-0">-->
<!--                                <div class="icon-box-figure d-flex align-items-center justify-content-center"><img src="/img/novaposhta.svg" alt="" class="img"></div>-->
<!--                                <div class="h4 d-sm-none">Нова Пошта</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="icon-box d-flex flex-column flex-sm-row">-->
<!--                            <div class="icon-box-caption align-self-center order-2 order-sm-1">-->
<!--                                <div class="h4 d-none d-sm-block">УкрПошта</div>-->
<!--                                <p>При виборі кур’єрської служби Нова Пошта, після того, як Ваше замовлення буде готове, ми відправимо його за призначеною адресою. Терміни доставки: 2-5 робочих днів. Відстежити своє замовлення ви можете тут: <a href="https://track.ukrposhta.ua/tracking_UA.html" target="_blank">https://track.ukrposhta.ua/tracking_UA.html</a>. Після того, як Ваше замовлення буде готове, ми відправляємо його за призначеною адресою. Терміни доставки: 2-5 робочих днів</p>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center order-1 order-sm-2 mb-15 mb-sm-0">-->
<!--                                <div class="icon-box-figure d-flex align-items-center justify-content-center"><img src="/img/ukrposhta.svg" alt="" class="img"></div>-->
<!--                                <div class="h4 d-sm-none">УкрПошта</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="icon-box d-flex flex-column flex-sm-row">-->
<!--                            <div class="icon-box-caption align-self-center order-2 order-sm-1">-->
<!--                                <div class="h4 d-none d-sm-block">Адресна доставка</div>-->
<!--                                <p>Також замовлення можна забрати на нашому складі, за адресою: <br> <b>вул. Дорожна, 50, с. Пасіки-зубрицькі, Пустомитівський р-н, Львівська обл., Україна</b></p>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center order-1 order-sm-2 mb-15 mb-sm-0">-->
<!--                                <div class="icon-box-figure d-flex align-items-center justify-content-center"><img src="/img/map.svg" alt="" class="img"></div>-->
<!--                                <div class="h4 d-sm-none">Адресна доставка</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="icon-box d-flex flex-column flex-sm-row">-->
<!--                            <div class="icon-box-caption align-self-center order-2 order-sm-1">-->
<!--                                <div class="h4 d-none d-sm-block">Самовивіз</div>-->
<!--                                <p>Також замовлення можна забрати на нашому складі, за адресою: <br> <b>вул. Дорожна, 50, с. Пасіки-зубрицькі, Пустомитівський р-н, Львівська обл., Україна</b></p>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center order-1 order-sm-2 mb-15 mb-sm-0">-->
<!--                                <div class="icon-box-figure d-flex align-items-center justify-content-center"><img src="/img/warehouse.svg" alt="" class="img"></div>-->
<!--                                <div class="h4 d-sm-none">Самовивіз</div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="spacer-sm"></div>-->

<!--                        <div class="simple-page p-0">-->
<!--                            <p>При отриманні, перевіряйте цілісність посилки! У разі будь-яких проблем, інформуйте оператора підтримки в день отримання посилки! Посилка зберігається в відділенні перевізника - 5 календарних днів (на 5-й день автоматично повертається відправнику). У разі відсутності покупця, або особи, уповноваженої здійснити покупку, кур'єр інформує по телефону про свій приїзд за адресою доставки, очікує 15 хвилин і залишає місце доставки, повторно проінформувавши покупця по телефону</p>-->
<!--                            <p>В момент одержання вантажу покупець має право розкрити упаковку і перевірити товар на предмет комплектності, відсутності пошкоджень. Якщо є які-небудь недоліки, покупець спільно з представником служби доставки складає акт прийому-передачі, де в обов'язковому порядку вказує всі дефекти. Якщо товар має істотні недоліки, тобто не може бути використаний за призначенням, покупець складає акт відмови від приймання вантажу і не оплачує доставку. Для отримання детальних інструкцій, як-->
<!--                                діяти в момент прийому-передачі вантажу, рекомендуємо зв'язатися з консультантами.</p>-->
<!--                        </div>-->

<!--                        <div class="spacer-md"></div>-->

<!--                        <div class="h2 section-title">Оплата</div>-->
<!--                        <p>Вартість доставки обчислюється для кожного клієнта або замовлення індивідуально, залежно від обраної кур’єрської служби (також від кількості місць, ваги, габаритів, регіону доставки тощо.) вартість доставки може змінюватись. Терміни доставки ви можете уточнити у нашого менеджера або на офіційному сайті логістичної компанії, яку обрали при оформленні замовлення. Щоб ви були ще більше впевнені у серйозності нашого магазину – ми пропонуємо вам наступні варіанти оплати:</p>-->

<!--                        <div class="spacer-sm"></div>-->

<!--                        <div class="row payment-row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="square text-center">-->
<!--                                    <img src="/img/icons/wallet.svg" alt="" class="img">-->
<!--                                    <div class="h4">Готівкою при отримані</div>-->
<!--                                    <p>Розраховуйтесь за своє замовлення готівкою, з можливістю перевірки</p>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-md-6">
                                <div class="square text-center">
                                    <img src="/img/icons/bill.svg" alt="" class="img">
                                    <div class="h4">Готівкою при отримані</div>
                                    <p>Розраховуйтесь за своє замовлення готівкою, з можливістю перевірки</p>
                                </div>
                            </div>
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        </div>

    </main>
