<!DOCTYPE html>
<html lang="en">
<head>
    {{>top}}
    <title>Szkolenia Edukatora - Premium Distribution - Education</title>
</head>
<body class="edu-szkolenia-page">

<!-- LOADER -->
<div id="loader-wrapper"></div>

<div id="content-block">

    <!-- HEADER -->
    {{>header}}
    <div class="tools-bar">
        <div class="tools-bar__header">
            <div class="tools-bar__logo">
                <img src="img/white-logo.png" alt="">
            </div>
        </div>
        <div class="tools-bar__main">
            <ul class="tools-bar__list">
                <li class="tools-bar__item active">
                    <div class="tools-bar__link active">
                        <span>Szkolenia</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content">
                        <div class="tools-bar__content__group">
                            <a href="edu-szkolenia.php" class="active"> Moje szkolenia</a>
                        </div>

                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Dostępność</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="dostepnosc-edukatora.php">Moja dostępność</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Kuferek</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Mój kuferek</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Materiały</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Moje materiały</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Sprzęt</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Mój sprzęt</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Rozliczenie</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Rozliczenie</a>
                        </div>
                    </div>
                </li>
                <li class="tools-bar__item">
                    <div class="tools-bar__link">
                        <span>Testy</span>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="tools-bar__content" style="display: none">
                        <div class="tools-bar__content__group">
                            <a href="">Testy</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="section-content">
        <div class="simple-content">
            <div class="simple-content__top">
                <div class="simple-content__decor-line">
                    <a href="">Przypisane szkolenia</a>
                </div>
            </div>
            <div class="simple-content__main">
                <div class="text">
                    <h5 class="h5"><span>Przypisane szkolenia</span></h5>
                    <p>
                        Tutaj znajdziesz szkolenia, które są przypisane do ciebie. Pamiętaj żeby za każdym
                        razem
                        przed szkoleniem zadzwonić do klienta i potwierdzić szkolenie, jak również
                        poinformować
                        go o przygotowaniu modelek.
                    </p>
                </div>
                <div class="table">
                    <table>
                        <thead>
                        <tr>
                            <td>DATA</td>
                            <td>GODZINY</td>
                            <td>NUMER KLIENTA</td>
                            <td>ADRES</td>
                            <td>RODZAJ SZKOLENIA</td>
                            <td>KONTAKT</td>
                            <td>SZKOLENIE / MODELKI POTWIERDZONE</td>
                        </tr>
                        </thead>
                        <tbody>
                        <form action="client/educator"  method="get">

                            {{#each result}}
                                <tr>
                                    <td>
                                        <a class="btn-tooltip" href="#" data-toggle="tooltip" data-placement="top"
                                           data-original-title="*Ważne jeżeli na 7 dni przed szkoleniem edukator nie odznaczy że dzwonił do klienta pojawia się pushup od razu po zalogowaniu do platformy z informacją że edukator ma szkolenie które musi potwierdzić telefonie"
                                           title="">

                                            {{this.date}}</a>
                                    </td>
                                    <td style="font-weight: 400;">{{this.hours}}</td>
                                    <td><span style="font-weight: 400;">{{this.client_number}}</span></td>
                                    <td class="test" data-id = "{{this.id}}">{{this.salon_address.address}}<br>

                                    </td>
                                    <td>{{this.education_type}}</td>
                                    <td>{{this.contact_phone}}
                                    </td>
                                    <form>
                                        <td align="center">
                                            <input name="checkbox2" type="checkbox" value="checked" id="checkbox_check">
                                        </td>
                                    </form>
                                </tr>
                                {{#if report }}

                                    <tr style="background-color: #c8b9a7;">
                                        <td colspan="7" align="center">
                                            <a class="btn-tooltip"
                                               href="#" data-toggle="tooltip"
                                               data-placement="top"
                                               data-original-title="Ten guzik pojawia się tylko wtedy gdy szkolenie się odbyło a kalendarz wskazuje dzień po szkoleniu klikając na ten guzik pojawia się nowe okno (nie koniecznie strona) w której edukator wypełnia krótki test żeby nie robić go teraz zróbmy coś takiego jak 5 pytan Ipsom lorum możliwość zaznaczania od 1 do 5. I na dole notatka a pod nią guzik wyślij. Po tym guzik zmienia się na dziękuje za wysłanie raportu."
                                               title=""><strong>WYPEŁNIJ RAPORT</strong>
                                            </a>
                                        </td>
                                    </tr>
                                <tr>
                                {{/if}}
                            {{/each}}
                        </form>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        <div class="footer">
            {{>footer}}
        </div>
    </div>

</div>


{{>bottom}}

</body>
</html>
<script >
    // console.log($('.test').dataset.id)

    $('#checkbox_check').on('click', function () {
        let a = document.querySelector('.test').dataset.id
        console.log(a)

        if ( $(this).prop('checked') === true ) {
            $.ajax({
                type: "get",
                url: `/lessonConfirmation`,
                id:a
            })
        }

    })
</script>