    <main>

        <!-- MAIN SLIDER -->
        <div class="swiper-control">
            <div class="swiper-entry slider">
                <div class="swiper-container" data-options='{"watchSlidesVisibility": true, "watchSlidesProgress": true, "slidesPerView":1, "fadeEffect": {"crossFade": true}, "parallax":true}'>
                    <div class="swiper-wrapper">
                        {{#each page.sections}}
                            {{#each this.body}}
                            {{#ifCond this.type "==" "10"}}
                                {{#each this.content}}
                                <div class="swiper-slide">
                                    <div data-swiper-parallax="40%">
                                       <img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt="" class="slider-img img d-none d-sm-block">
<!--                                        <img src="/img/preloader.jpg" data-i-src="/img/post-1.jpg" alt="" class="slider-img img d-none d-sm-block">-->
                                       <img src="/img/preloader.jpg" data-i-src="{{this.image_mobile}}" alt="" class="slider-img img d-sm-none">
                                    </div>
                                </div>
                                {{/each}}
                                {{/ifCond}}
                            {{/each}}
                        {{/each}}
<!--                        <div class="swiper-slide">-->
<!--                            <div data-swiper-parallax="40%">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide.jpg" alt="" class="slider-img img d-none d-sm-block">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide-mobile.jpg" alt="" class="slider-img img d-sm-none">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div data-swiper-parallax="40%">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide.jpg" alt="" class="slider-img img d-none d-sm-block">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide-mobile.jpg" alt="" class="slider-img img d-sm-none">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div data-swiper-parallax="40%">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide.jpg" alt="" class="slider-img img d-none d-sm-block">-->
<!--                                <img src="/img/preloader.jpg" data-i-src="/img/slide-mobile.jpg" alt="" class="slider-img img d-sm-none">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="swiper-pagination container d-lg-none"></div>
                </div>
            </div>
            <div class="swiper-entry slider">
                <div class="swiper-container" data-options='{"watchSlidesVisibility": true,  "watchSlidesProgress": true, "slidesPerView":1, "fadeEffect": {"crossFade": true}, "effect":"fade"}'>
                    <div class="swiper-button-prev d-none d-xl-flex"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                    </svg></div>
                    <div class="swiper-button-next d-none d-xl-flex"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                    </svg></div>
                    <div class="swiper-wrapper">
                        {{#each page.sections}}
                            {{#each this.body}}
                            {{#ifCond this.type "==" "10"}}
                                {{#each this.content}}
                                <div class="swiper-slide">
                                    <div class="slider-caption d-lg-flex align-items-lg-center text-center text-lg-left">
                                        <div class="container">
                                            <div class="slider-mw">
                                                <div class="h1 slider-title text-truncate line-2">{{this.title}}</div>
                                                <p class="text-lg text-truncate line-2 d-none d-xl-block">{{this.text}}</p>
                                                <div class="slider-btn">
                                                    <a href="{{this.link}}" class="btn btn-primary">Дізнатись більше</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            {{/ifCond}}
                            {{/each}}
                        {{/each}}
<!--                        <div class="swiper-slide">-->
<!--                            <div class="slider-caption d-lg-flex align-items-lg-center text-center text-lg-left">-->
<!--                                <div class="container">-->
<!--                                    <div class="slider-mw">-->
<!--                                        <div class="h1 slider-title text-truncate line-2">Наша фурнітура вражає якістю руху</div>-->
<!--                                        <p class="text-lg text-truncate line-2 d-none d-xl-block">Наша фурнітура вражає якістю руху в меблях під час відкривання і закривання та підвищує комфорт у Вашому помешканні – насамперед на кухні</p>-->
<!--                                        <div class="slider-btn">-->
<!--                                            <a href="about" class="btn btn-primary">Дізнатись більше</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="slider-caption d-lg-flex align-items-lg-center text-center text-lg-left">-->
<!--                                <div class="container">-->
<!--                                    <div class="slider-mw">-->
<!--                                        <div class="h1 slider-title text-truncate line-2">Підвищує комфорт у Вашому помешканні</div>-->
<!--                                        <p class="text-lg text-truncate line-2 d-none d-xl-block">Наша фурнітура вражає якістю руху в меблях під час відкривання і закривання та підвищує комфорт у Вашому помешканні – насамперед на кухні</p>-->
<!--                                        <div class="slider-btn">-->
<!--                                            <a href="about" class="btn btn-primary">Дізнатись більше</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="swiper-pagination container d-none d-lg-block"></div>
                    <div class="swiper-overlay d-none d-lg-block"></div>
                </div>
            </div>
        </div>
        <div class="spacer-md"></div>
        <!-- END MAIN SLIDER -->

        <!-- PRODUCTS -->
        <div class="container">
            <div class="tabs">
                <div class="tab-nav">
                    <div class="tab-toggle d-flex justify-content-center">
                        <div class="active">Рекомендації</div>
                        <div>Новинки</div>
                    </div>
                </div>
                <div class="tab">
                    <div class="swiper-entry swiper-1 swiper-width-1 animate-item">
                        <div class="swiper-container" data-options='{"autoHeight": true, "spaceBetween": 15, "pagination": {"el": ".swiper-pagination", "type": "fraction"}, "breakpoints": {"320": {"slidesPerView": 1}, "576": {"slidesPerView": 2, "autoHeight": false}, "992": {"slidesPerView": 3, "spaceBetween": 30}, "1200": {"slidesPerView": 4, "spaceBetween": 30, "pagination": {"el": ".swiper-pagination", "type": "bullets", "clickable": true}}}}'>
                            <div class="swiper-wrapper">
                                {{#each product.recommended}}
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-img"><a href="shop/product/{{this.slag}}"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a>
                                        </div>
                                        <div class="card-info">
                                            <div class="card-code">{{this.color}}</div>
                                            <div class="card-title h5"><a href="shop/product/{{this.slag}}" class="text-truncate line-2">{{this.name}}</a></div>
                                            <div class="card-excerpt text-truncate line-2">{{this.short_description}}</div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-1.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a>-->
<!--                                        </div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Напрямні Tandem повного висування на 30 кг з BLUMOTION</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Напрямні Tandem - це ідеальне рішення фірми BLUM для дерев'яних ящиків</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-2.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Штанговий кондуктор для завіс</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Додаткова можливість зробити найменший простір корисним</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-3.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">SPACE TOWER</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Функціональна шафа для запасів зі зручним доступом</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-4.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Штанговий кондуктор для завіс CRISTALLO (для скляних дверцят)</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Напрямні Tandem - це ідеальне рішення фірми BLUM для дерев'яних ящиків</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-1.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a>-->
<!--                                        </div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Напрямні Tandem повного висування на 30 кг з BLUMOTION</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Напрямні Tandem - це ідеальне рішення фірми BLUM для дерев'яних ящиків</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-2.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Штанговий кондуктор для завіс</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Додаткова можливість зробити найменший простір корисним</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="swiper-controls d-flex justify-content-between align-items-center">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-wrapp d-none d-xl-flex">
                                    <div class="swiper-button-prev"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                                    </svg></div>
                                    <div class="swiper-button-next"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                                    </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <div class="swiper-entry swiper-1 swiper-width-1 animate-item">
                        <div class="swiper-container" data-options='{"autoHeight": true, "spaceBetween": 15, "pagination": {"el": ".swiper-pagination", "type": "fraction"}, "breakpoints": {"320": {"slidesPerView": 1}, "576": {"slidesPerView": 2, "autoHeight": false}, "992": {"slidesPerView": 3, "spaceBetween": 30}, "1200": {"slidesPerView": 4, "spaceBetween": 30, "pagination": {"el": ".swiper-pagination", "type": "bullets", "clickable": true}}}}'>
                            <div class="swiper-wrapper">
                                {{#each product.new}}
                                <div class="swiper-slide">
                                    <div class="card">
                                        <div class="card-img"><a href="shop/product/{{this.slag}}"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a>
                                        </div>
                                        <div class="card-info">
                                            <div class="card-code">{{this.color}}</div>
                                            <div class="card-title h5"><a href="shop/product/{{this.slag}}" class="text-truncate line-2">{{this.name}}</a></div>
                                            <div class="card-excerpt text-truncate line-2">{{this.short_description}}</div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-1.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a>-->
<!--                                        </div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Напрямні Tandem повного висування на 30 кг з BLUMOTION</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Напрямні Tandem - це ідеальне рішення фірми BLUM для дерев'яних ящиків</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-2.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Штанговий кондуктор для завіс</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Додаткова можливість зробити найменший простір корисним</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-3.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">SPACE TOWER</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Функціональна шафа для запасів зі зручним доступом</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-slide">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-img"><a href="product-detail"><img src="/img/preloader.jpg" data-i-src="/img/product-4.jpg" alt=""><span class="card-labels d-flex flex-wrap"><span class="card-label color-1">Новинка</span></span></a></div>-->
<!--                                        <div class="card-info">-->
<!--                                            <div class="card-code">#DQDB2M</div>-->
<!--                                            <div class="card-title h5"><a href="product-detail" class="text-truncate line-2">Штанговий кондуктор для завіс CRISTALLO (для скляних дверцят)</a></div>-->
<!--                                            <div class="card-excerpt text-truncate line-2">Напрямні Tandem - це ідеальне рішення фірми BLUM для дерев'яних ящиків</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="swiper-controls d-flex justify-content-between align-items-center">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-wrapp d-none d-xl-flex">
                                    <div class="swiper-button-prev"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                                    </svg></div>
                                    <div class="swiper-button-next"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                                    </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-md"></div>
        <!-- END PRODUCTS -->

        <!-- CATEGORIES -->
        <div class="container">
            <div class="h2 section-title">Категорії комплектів</div>
            <div class="desktop-slider">
                <div class="swiper-entry swiper-1">
                    <div class="swiper-container" data-options='{"breakpoints": {"768": {"slidesPerView": 2, "spaceBetween": 30},"992": {"slidesPerView": 4, "spaceBetween": 30}}}'>
                        <div class="swiper-wrapper row flex-wrap flex-md-nowrap">
                            {{#each product.categories}}
                                <div class="swiper-slide col-6 col-md-3">
                                    <a href="/catalog-kit/{{this.slag}}" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""><span class="img-box-info"><span class="img-box-title">{{this.title}}</span></span></a>
                                </div>
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-9.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Підіймальні механізми</span></span></a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-2.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Висувні системи</span></span></a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-3.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Конструкції шафок</span></span></a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-4.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи напрямних</span></span></a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-5.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи завіс</span></span></a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-6 col-md-3">-->
<!--                                <a href="#!" class="img-box type-1"><img src="/img/preloader.jpg" data-i-src="/img/cat-6.jpg" alt=""><span class="img-box-info"><span class="img-box-title">Системи внутрішніх розділювачів</span></span></a>-->
<!--                            </div>-->
                            {{/each}}
                        </div>
                        <div class="swiper-controls d-flex justify-content-center justify-content-md-between align-items-center">
                            <a href="/catalog-kit" class="btn btn-primary btn-invert">Переглянути всі категорії</a>
                            <div class="swiper-button-wrapp d-none d-md-flex">
                                <div class="swiper-button-prev"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                                </svg></div>
                                <div class="swiper-button-next"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                                </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-md"></div>
        <!-- END CATEGORIES -->

        <!-- BENEFITS -->
        <div class="container">
            {{#each page.sections}}
                {{#ifCond @index "==" "1"}}
            <div class="h2 section-title">{{this.title}}</div>
            <div class="mobile-slider mobile-fullwidth">
                <div class="swiper-entry">
                    <div class="swiper-container" data-options='{"slidesPerView":2, "spaceBetween": 15, "pagination": {"type": "fraction", "el": ".swiper-pagination"}, "breakpoints": {"1199": {"slidesPerView": 3, "pagination": {"type": "fraction"}}}}'>
                        <div class="swiper-button-prev d-none"></div>
                        <div class="swiper-button-next d-none"></div>
                        <div class="swiper-wrapper row justify-content-xl-center flex-nowrap flex-xl-wrap">
                            {{#each this.body}}
                            {{#ifCond this.type "==" "4"}}
                                {{#each this.content}}
                                    <div class="swiper-slide col-xl-3">
                                        <div class="circle">
                                            <div class="circle-entry d-flex flex-column justify-content-center">
                                                <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""></div>
                                                <div class="circle-title">{{this.title}}</div>
                                                <div class="circle-excerpt text-truncate line-2">{{this.text}}</div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                {{/ifCond}}
                            {{/each}}
<!--                            <div class="swiper-slide col-xl-3">-->
<!--                                <div class="circle">-->
<!--                                    <div class="circle-entry d-flex flex-column justify-content-center">-->
<!--                                        <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="/img/icons/seller.svg" alt=""></div>-->
<!--                                        <div class="circle-title">Контроль якості</div>-->
<!--                                        <div class="circle-excerpt text-truncate line-2">Якість – основа довіри</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-xl-3">-->
<!--                                <div class="circle">-->
<!--                                    <div class="circle-entry d-flex flex-column justify-content-center">-->
<!--                                        <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="/img/icons/saw.svg" alt=""></div>-->
<!--                                        <div class="circle-title">Власне виробництво</div>-->
<!--                                        <div class="circle-excerpt text-truncate line-2">Контроль усього процесу </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-xl-3">-->
<!--                                <div class="circle">-->
<!--                                    <div class="circle-entry d-flex flex-column justify-content-center">-->
<!--                                        <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="/img/icons/packaging.svg" alt=""></div>-->
<!--                                        <div class="circle-title">Екологічне упакування</div>-->
<!--                                        <div class="circle-excerpt text-truncate line-2">Піклування про довкілля</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide col-xl-3">-->
<!--                                <div class="circle">-->
<!--                                    <div class="circle-entry d-flex flex-column justify-content-center">-->
<!--                                        <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="/img/icons/bars.svg" alt=""></div>-->
<!--                                        <div class="circle-title">Постійне вдосконалення</div>-->
<!--                                        <div class="circle-excerpt text-truncate line-2">Жага бути сучасними</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="swiper-pagination d-xl-none"></div>
                    </div>
                </div>
            </div>
                {{/ifCond}}
            {{/each}}
        </div>
        <div class="spacer-md"></div>
        <!-- END BENEFITS -->

        <!-- SEO BLOCK -->
        {{> seo }}
        <!-- END SEO BLOCK -->

    </main>

