

    <main>

        <div class="section">
            <div class="container">
<!--                        <h1 class="h2 section-title">Політика конфіденційності</h1>-->
                        {{#each page.sections}}
                            <h1 class="h2 section-title">{{this.title}}</h1>
                            {{#each this.body}}
                                {{#switch this.type}}
                                    {{#case '1'}}
                                        <div class="row">
                                            <div class="col-xl-8 offset-xl-2">
                                                <div class="simple-page pt-0">
                                                    {{{this.content}}}
                                                </div>
                                            </div>
                                        </div>
                                    {{/case}}
                                    {{#case '2'}}
                                        <div class="row">
                                            <div class="col-xl-8 offset-xl-2">
                                                <div class="simple-page pt-0">
                                                    <div class="simple-swiper">
                                                        <div class="swiper-entry">
                                                            <div class="swiper-container" data-options='{"slidesPerView":1,"autoHeight":true}'>
                                                                <div class="swiper-wrapper">
                                                                    {{#each this.content}}
                                                                        <div class="swiper-slide">
                                                                            <div class="img-wrapp"><img src="{{this.image}}" alt="" class="img"></div>
                                                                            <figure class="simple-figure m-0">
                                                                                <figcaption>{{this.text}}</figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                                <div class="swiper-pagination"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/case}}
                                    {{#case '3'}}
                                        <div class="section pt-0">
                                            {{#each this.content}}
                                                {{#ifCond this.left "==" "true"}}
                                                    <div class="row benefit">
                                                        <div class="col-xl-7 offset-xl-1">
                                                            <div class="pr-xl-27"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt="" class="img"></div>
                                                        </div>
                                                        <div class="col-xl-3">
                                                            <div class="benefit-desc d-flex flex-column justify-content-center">
                                                                <div class="benefit-title type-1 d-flex align-items-center h4">{{this.title}}</div>
                                                                <p>{{this.text}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="row benefit">
                                                        <div class="col-xl-3 offset-xl-1 order-2 order-xl-1">
                                                            <div class="benefit-desc d-flex flex-column justify-content-center">
                                                                <div class="benefit-title type-1 d-flex align-items-center h4">{{this.title}}</div>
                                                                <p>{{this.text}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-7 order-1 order-xl-2">
                                                            <div class="pr-xl-27"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt="" class="img"></div>
                                                        </div>
                                                    </div>
                                                {{/ifCond}}
                                            {{/each}}
                                        </div>
                                    {{/case}}
                                    {{#case '4'}}
                                        <div class="mobile-slider mobile-fullwidth">
                                            <div class="swiper-entry">
                                                <div class="swiper-container" data-options='{"slidesPerView":2, "spaceBetween": 15, "pagination": {"type": "fraction", "el": ".swiper-pagination"}, "breakpoints": {"1199": {"slidesPerView": 3, "pagination": {"type": "fraction"}}}}'>
                                                    <div class="swiper-button-prev d-none"></div>
                                                    <div class="swiper-button-next d-none"></div>
                                                    <div class="swiper-wrapper row justify-content-xl-center flex-nowrap flex-xl-wrap">
                                                        {{#each this.content}}
                                                            <div class="swiper-slide col-xl-3">
                                                                <div class="circle">
                                                                    <div class="circle-entry d-flex flex-column justify-content-center">
                                                                        <div class="circle-icon"><img src="/img/preloader.jpg" data-i-src="{{this.image}}" alt=""></div>
                                                                        <div class="circle-title">{{this.title}}</div>
                                                                        <div class="circle-excerpt text-truncate line-2">{{this.text}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                    <div class="swiper-pagination d-xl-none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/case}}
                                    {{#case '5'}}
                                        <div class="section pt-0">
                                            <!--                                    <div class="h3 section-title type-3 text-center">Сервіси</div>-->
                                            <div class="row cols-3">
                                                {{#each this.content}}
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="post">
                                                            <div class="post-img size-1"><a href="post/{{this.link}}"><img src="{{this.image}}" alt="" class="img"></a></div>
                                                            <div class="post-info">
                                                                <a href="post/{{this.link}}" class="h5 post-title d-block">{{this.title}}</a>
                                                                <div class="post-excerpt text-truncate line-3">{{this.text}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                            <div class="spacer-sm"></div>
                                        </div>
                                    {{/case}}
                                    {{#case '6'}}
                                        <div class="section pt-0">
                                            <div class="row">
                                                <div class="col-xl-8 offset-xl-2">
                                                    <div class="accordion">
                                                        {{#each this.content}}
                                                            <div class="accordion-item">
                                                                <div class="h5 accordion-title">{{this.title}}</div>
                                                                <div class="accordion-inner">
                                                                    <div class="simple-page p-0">
                                                                        {{{this.text}}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/case}}
                                {{/switch}}
                            {{/each}}
                        {{/each}}
<!--                            <p>Перед початком користування данним сайтом, ознайомтесь будь ласка із нашими правилами. Якщо ви не згідні з ними, або якийсь із пунктів не задовільняє вас – рекомендуємо не користуватись сайтом в цілях уникнення проблем та непорозумінь у майбутньому. Використання даного сайту, в тому числі заповнення форм, оформлення замовлення товарів та послуг, а також внесення інформації про себе означає згоду з усіма нашими правилами</p>-->
<!--                            <h4>1. Терміни, що використовуються в Угоді</h4>-->
<!--                            <ul>-->
<!--                                <li><b>Сайт (інтернет-магазин Blum)</b> – це <a href="#!">blum.eshop.ua</a></li>-->
<!--                                <li><b>Адміністрація</b> – адміністрація сайту</li>-->
<!--                                <li><b>Користувач</b> – відвідувач веб-сайту, який не замовляє жодних товарів.</li>-->
<!--                                <li><b>Клієнт (покупець товару)</b> – відвідувач веб-сайту, який обирає принаймні один товар, заповнює електронну форму замовлення та надсилає її до Компанії Blum або телефонує у <a href="#!">Центр підтримки клієнтів Blum</a> та здійснює замовлення телефоном.</li>-->
<!--                                <li><b>Сервіси</b> – інтерактивні сервіси сайту</li>-->
<!--                                <li><b>Замовлення на покупку</b> – форма, яку заповнив Клієнт, дотримуючись необхідних кроків для придбання товару(-ів) та/або послуг, пропонованих в Інтернет-магазині, відповідно до Загальних положень та умов. Клієнт може попросити Центр підтримки клієнтів створити замовлення телефоном.</li>-->
<!--                                <li><b>Угода</b> – власне дана угода</li>-->
<!--                            </ul>-->
<!--                            <h4>2. Загальні положення</h4>-->
<!--                            <p>Цей документ разом із усіма іншими зазначеними документами регулює умови користування <a href="#!">веб-сайтом Blum</a>, а також умови публічного договору про продаж товарів і надання послуг через веб-сайт <a href="#!">Blum</a> («Загальні положення та умови»).</p>-->
<!--                            <p>Загальні положення та умови — це формальна пропозиція укладення публічного договору, яка визначає всі істотні умови договору купівлі-продажу. Загальні положення та умови регулюються Законом України «Про захист прав споживачів» № 1023-XII від 12 травня 1991 року, Законом України «Про електронну комерцію» № 675-VIII від 3 вересня 2015 року, Правилами продажу товарів на замовлення та поза торговельними або офісними приміщеннями, затвердженими Наказом Міністерства економіки України № 103 від 19 квітня 2007 року, та іншими чинними законами України.</p>-->
<!--                            <h4>3. Реєстрація</h4>-->
<!--                            <p>Мінімальний вік для реєстрації в Інтернет-магазині <a href="#!">Blum</a> — 18 років. Клієнт/Зареєстрований користувач несе відповідальність за достовірність та повноту даних, внесених під час реєстрації та придбання. У разі будь-якої зміни інформації, внесеної під час реєстрації або придбання, рекомендуємо якнайшвидше оновити обліковий запис користувача.</p>-->
<!--                            <p>Користувацький інтерфейс проведе вас через процес реєстрації. Після реєстрації ви отримаєте електронного листа з інформацією про обліковий запис користувача. Компанія зберігає за собою право видаляти облікові записи користувачів, які залишаються неактивними протягом певного часу.</p>-->
                    </div>
                </div>

    </main>
