<!DOCTYPE html>
<html lang="uk">

<head>
    {{> top}}
    <title>BLUM :: HOME</title>
</head>

<body>
    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <div id="content-block">

        {{> header}}

        <main>

            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 offset-xl-4">
                            <h1 class="h2 section-title type-1">Реєстрація</h1>
                            <p class="text-center mb-25">Ми підтверджуємо кожен запит вручну, тому просимо вас вказувати
                                свої реальні дані, адже для підтвердження може виникнути потреба додатково зв’язатись із
                                вами. Дякуємо!</p>
                            <div class="info-box weight-normal">Верифікація проводиться у робочі дні з <b>10:00</b> до
                                <b>17:00</b>
                            </div>
                            <h5 class="h5 section-title type-1" style="color: #ED2F24">{{info}}</h5>
                            <h6 class="h6 section-title type-1"
                                style="color: #ED2F24; text-align:left; list-style-type: disc">{{{passwordInfo}}}</h6>
                            <form action="/auth/register" method="post" id="register-user-form">
                                <div class="input-wrapp-last-name">
                                    <input type="text" name="last_name" placeholder="*Прізвище"
                                        class="input mt-15" required>
                                </div>
                                <div class="input-wrapp-first-name">
                                    <input type="text" name="first_name" placeholder="*Ім’я" class="input mt-15"
                                        required>
                                </div>
                                <div class="input-wrapp-password">
                                    <input type="password" name="password" placeholder="*Пароль"
                                        class="input mt-15" required>
                                    <input type="password" name="confirm_password" placeholder="*Підтвердження пароля"
                                        class="input mt-15" required>
                                </div>
                                <div class="input-field row mt-15">
                                    <div class="col-md-6">
                                        <div class="input-wrapp-phone">
                                            <input name="phone_number" type="tel" placeholder="*+38 (098) 000 00 00"
                                                class="input inputmask" inputmode="numeric"
                                                data-inputmask="'mask': '+38 (0x9) 999 99 99'"
                                                data-inputmask-placeholder="x" required autocomplete="new-password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-wrapp">
                                            <input type="email" name="new_email" placeholder="*Email" class="input"
                                                id="newEmailInput" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-6">
                                        <div class="select-box">
                                            <div class="input-wrapp-region-activity-id">
                                                <select  name="region_activity_id" class="SelectBox search" required>
                                                    <option value="" disabled selected>*Вибрати область</option>
                                                    {{#each uniqueRegions}}
                                                        <option class="regionDropDownAjax" value="{{this.id}}">{{this.region}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{!-- <div class="select-box select-city disabled">
                                            <select id="cityDropDownAjax" name="region_activity_id"
                                                class="SelectBox search">
                                                <option value="" disabled selected>Вибрати місто</option>
                                                {{#each citysOfRegion}}
                                                <option class="cityDropDownAjax" value="{{this.id}}">{{this.city}}
                                                </option>
                                                {{/each}}

                                            </select>
                                        </div> --}}
                                        <div class="input-wrapp-city">
                                            <input name="city" type="text" placeholder="*Місто" class="input" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row">
                                    <div class="col-md-6">
                                        <input name="index" type="number" placeholder="Індекс" class="input">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="mailing_address" type="text" placeholder="Поштова адреса"
                                            class="input">
                                    </div>
                                </div>
                                <input type="text" name="company_name" placeholder="Назва компанії"
                                    class="input input-field">
                                <input type="url" name="company_url" placeholder="Веб-сайт" class="input input-field">
                                <div class="select-box input-field">
                                    <div class="input-wrapp-activity-id">
                                        <select name="activity_id" class="SelectBox default" required>
                                            <option value="" disabled selected>*Вид діяльності</option>
                                            {{#each activity}}
                                            <option value="{{this.id}}">{{this.title}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="select-box input-field">
                                    <div class="input-wrapp-positon-activity-id">
                                        <select name="positon_activity_id" class="SelectBox default" required>
                                            <option value="" disabled selected>*Посада</option>
                                            {{#each positionActivity}}
                                            <option value="{{this.id}}">{{this.title}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="select-box input-field">
                                    <div class="input-wrapp-dealer-id">
                                        <select name="dealer_id" id="dealerDropDownAjax" class="SelectBox default" required>
                                            <option value="" disabled selected>*Вибрати диллера</option>
                                            {{#each dealersOfRegion}}
                                            <option class="dealerDropDownAjax" value="{{this.dealer.id}}">
                                                {{this.dealer.company_name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="input-wrapp-result"></div>
                                <button type="submit" class="btn btn-primary btn-invert btn-block mb-25"
                                    id="registrationBtn">Зареєструватись</button>
                            </form>
                            <p class="text-center text-md">У мене вже є аккаунт. <a data-rel="1"
                                    class="open-popup simple-link">Увійти</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        {{> footer}}

    </div>

    {{> popups }}

    {{> bottom}}

</body>

</html>
