
    <main>

        <div class="section">
            <div class="container">
                <h1 class="h2 section-title">Результати пошуку</h1>
                <div class="row animate-item">
                    <div class="col-lg-4 col-xl-3 offset-xl-1">
                        <ul class="links d-none d-lg-block" id="selectSearchCategory">
                            <li data-search="{{search}}"><a href="#!" class="current">Всі</a></li>
                            <li name="kits" data-search="{{search}}"><a href="#!">Комплекти</a></li>
                            <li name="products" data-search="{{search}}"><a href="#!">Вироби</a></li>
                            <li name="news" data-search="{{search}}"><a href="#!">Новини</a></li>
                        </ul>
                        <div class="select-box type-1 d-lg-none">
                            <select class="SelectBox default">
                                <option>Всі</option>
                                <option>Комплекти</option>
                                <option>Вироби</option>
                                <option>Новини</option>
                            </select>
                        </div>
                        <div class="spacer-xs"></div>
                    </div>
                    <div class="col-lg-8 col-xl-7">
                        <form class="search-form" action="/search" method="post" name="{{type}}">
                            <img src="/img/icons/search.svg" alt="">
                            <input type="search" placeholder="Введіть запит для пошуку" class="input height-1" name="search">
                        </form>
                        <div id="SearchAjax">
                            <div class="text-md mb-25">Кількість результатів: <span class="color-dark weight-normal">{{count}} шт.</span></div>
                            {{#each items}}
                                {{#switch this.type}}
                                    {{#case 'products'}}
                                        {{#each this.item}}
                                            <div class="search-item">
                                                <div class="search-item_img"><a href="{{this.slag}}"><img src="{{this.image}}" alt="" class="img"></a></div>
                                                <div class="search-item_info">
                                                    <div class="d-flex align-items-baseline">
                                                        <a href="catalog" class="category">Вироби</a>
                                                        <div class="card-code">{{this.sku}}</div>
                                                    </div>
                                                    <a href="{{this.slag}}" class="search-item_title text-truncate line-3">{{this.name}}</a>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/case}}
                                    {{#case 'kits'}}
                                        {{#each this.item}}
                                            <div class="search-item">
                                                <div class="search-item_img"><a href="{{this.slag}}"><img src="{{this.image}}" alt="" class="img"></a></div>
                                                <div class="search-item_info">
                                                    <div class="d-flex align-items-baseline">
                                                        <a href="catalog-kit" class="category">Комплекти</a>
                                                        <div class="card-code">{{this.sku}}</div>
                                                    </div>
                                                    <a href="{{this.slag}}" class="search-item_title text-truncate line-3">{{this.name}}</a>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/case}}
                                    {{#case 'news'}}
                                        {{#each this.item}}
                                            <div class="search-item">
                                                <div class="search-item_img"><a href="{{this.slag}}"><img src="{{this.image}}" alt="" class="img"></a></div>
                                                <div class="search-item_info">
                                                    <div class="d-flex align-items-baseline">
                                                        <a href="blog" class="category">Новини</a>
                                                    </div>
                                                    <a href="{{this.slag}}" class="search-item_title text-truncate line-3">{{this.title}}</a>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/case}}
                                {{/switch}}
                            {{/each}}

                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-1.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Тримач для ножів Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->

                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-2.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Комплект висувних шухляд типу Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-3.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Увага! Поповнення асортименту в лінійці Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-4.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Тримач для тарілок Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-1.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Тримач для ножів Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-2.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Комплект висувних шухляд типу Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-3.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Увага! Поповнення асортименту в лінійці Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-4.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Тримач для тарілок Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-1.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Тримач для ножів Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="search-item">-->
                            <!--                            <div class="search-item_img"><a href="product-detail"><img src="/img/product-2.jpg" alt="" class="img"></a></div>-->
                            <!--                            <div class="search-item_info">-->
                            <!--                                <div class="d-flex align-items-baseline">-->
                            <!--                                    <a href="categories" class="category">Вироби</a>-->
                            <!--                                    <div class="card-code">#DQDB2M</div>-->
                            <!--                                </div>-->
                            <!--                                <a href="product-detail" class="search-item_title text-truncate line-3">Комплект висувних шухляд типу Orgaline</a>-->
                            <!--                            </div>-->
                            <!--                        </div>-->

                            <div class="spacer-sm"></div>
                            {{#ifCond countPages '>' '1'}}
                                {{> pagination-search }}
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

