<div class="custom-pagination">
    <div class="pagination pagination-centered">
        <ul>
            {{#ifCond pagination.page ">" "3" }}
                {{#ifCond pagination.min "!=" "1" }}
                    <li class="item-pagination-search {{#ifCond 1 "==" pagination.page }} active  {{/ifCond}}" data-id = "1" data-search="{{search}}" data-type="{{type}}">  <a href="#">1</a></li>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond pagination.page ">" "3" }}
                {{#ifCond pagination.min ">" "2" }}
                    <li class="dott">...</li>
                {{/ifCond}}
            {{/ifCond}}
            {{#items countPages}}
                {{#ifCond @index ">=" pagination.page}}
                    {{#ifCond @index "<" pagination.max}}
                        <li class="item-pagination-search {{#ifCond @index "==" pagination.page }}  active  {{/ifCond}} " data-id = "{{@index}}" data-search="{{search}}" data-type="{{type}}"><a href="#">{{@index}}</a></li>
                    {{/ifCond}}
                {{else}}
                    {{#ifCond pagination.min "<=" @index}}
                        <li class=" item-pagination-search {{#unless @index}}  active  {{/unless}} " data-id = "{{ @index}}" data-search="{{search}}" data-type="{{type}}"><a href="#">{{@index}}</a></li>
                    {{/ifCond}}
                {{/ifCond}}
            {{/items}}
            {{#ifCond countPages ">=" pagination.max}}
                {{#ifCond pagination.lastElem "==" true}}
                    <li class="dott">...</li>
                {{/ifCond}}
                <li class="item-pagination-search {{#ifCond countPages "==" pagination.page }} active  {{/ifCond}}" data-id = "{{countPages}}" data-search="{{search}}" data-type="{{type}}">  <a href="#">{{countPages }}</a></li>
            {{/ifCond}}
        </ul>
    </div>
</div>
