

    <main>

        <!-- CATALOG -->
        <div class="section pt-xl-0">
            <nav class="breadcrumbs type-1 d-none d-xl-block">
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/catalog-kit">Набори</a></li>
                    <li><span>{{result_category_one.title}}</span></li>
                </ul>
            </nav>
            <div class="container">
                <div class="h2 section-title text-center">{{result_category_one.title}}</div>
                <div class="row animate-item">
                    <aside class="col-xl-3">
                        <div class="sidebar-layer"></div>
                        <div class="catalog-sidebar">
                            <div class="filter">
                                <div class="filter-title d-flex align-items-center justify-content-between toggle-filter">Категорії</div>
                                <div class="filter-toggle">
                                    <ul class="links type-1">
                                        {{#each result_category}}
                                            <li><a href="{{this.slag}}">{{this.title}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
    {{#each attributes}}
        {{#unless @index}}
        <div class="filter">
            <div class="filter-title d-flex align-items-center justify-content-between toggle-filter ">{{this.title}}</div>
            <div class="filter-toggle">
                <ul class="links type-1">
        {{#each this.value}}
                    <li><label class="checkbox-entry"><input data-id="{{../this.id}}" name="checkbox" value="{{this}}" type="checkbox"><span>{{this}}  </span></label></li>

        {{/each}}
                </ul>
            </div>
        </div>
        {{/unless}}
    {{/each}}

                            <div class="filter">
                                <div class="filter-title d-flex align-items-center justify-content-between toggle-filter">Ціна</div>
                                <div class="filter-toggle">
                                    <div class="range">
                                        <div class="slider-range" data-min="{{minPrice}}" data-max="{{maxPrice}}" data-values="[{{minPrice}}, {{maxPrice}}]"></div>
                                        <div class="range-inputs">
                                            <div class="range-input">
                                                <label>від</label>
                                                <input type="number"  name="minPrice" class="range-min input" value="{{minPrice}}">
                                            </div>
                                            <div class="range-input">
                                                <label>до</label>
                                                <input type="number"  name="maxPrice" class="range-max input" value="{{maxPrice}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#each attributes}}
                                {{#if @index}}
                                    <div class="filter">
                                        <div class="filter-title d-flex align-items-center justify-content-between toggle-filter attributes_{{this.id}}">{{this.title}}</div>
                                        <div class="filter-toggle">
                                            <ul class="links type-1">
                                                {{#each this.value}}
                                                    <li><label class="checkbox-entry"><input data-id="{{../this.id}}" name="checkbox" value="{{this}}" type="checkbox"><span>{{this}}  </span></label></li>

                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}

                        </div>
                    </aside>
                    <div class="col-12 col-xl-9">

                        <div class="catalog-top d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-between text-md">
                            <div class="catalog-num">Кількість результатів: &nbsp;<b class="weight-normal color-dark"><span class="products_count" >{{products.count}}</span> шт.</b></div>
                            <div class="catalog-sort d-flex align-items-center">Сортування: <div class="select-box type-1">
                                <select  id="sortProduct" class="SelectBox default">
                                    <option value ="default">за замовчуванням</option>
                                    <option value ="nameASC">за алфавітом (А – Я)</option>
                                    <option value ="nameDESC">за алфавітом (Я – А)</option>
                                    <option value ="novelty">за новизною</option>
                                    <option value ="promotional" >спочатку рекомендації</option>
                                    <option value ="priceASC">за ціною (спочатку дешевші)</option>
                                    <option value ="priceDESC">за ціною (спочатку дорожчі)</option>
                                </select>
                            </div>
                            </div>
                        </div>

                        <div class=" shop row cols-3 ProductAjax" id="ProductAjax" data-url="/shop/catalog-kit/">


                            {{#each products.rows}}
                                <div class="col-sm-6 col-lg-4 card js-product">
                                    <div class="card-img"><a href="{{this.slag}}"><img src="{{this.image}}" alt="">
                                {{#each this.promo_label}}<span class="card-labels d-flex flex-wrap"><span class="card-label"
                                     style="background-color: {{this.background}} ; ">{{this.label}}</span></span>{{/each}}</a>
                                    </div>
                                    <div class="card-info">
                                        <div class="card-code">{{this.sku}}</div>
                                        <div class="card-title h5"><a href="{{this.slag}}" class="text-truncate line-2"> {{this.name}}</a></div>
                                        <div class="card-excerpt text-truncate line-2"> {{this.short_description}}</div>
                                        <div class="card-bott d-flex align-items-center justify-content-between">
                                            <div class="card-price">від {{this.price}} {{../currency.decode}}.</div>
                                            <div class="card-options d-flex">
                                {{#if ../user_id}}
                                                <button class="card-favourite add-to-favourite {{#if this.favourite }} active {{/if}} "  data-id-product="{{this.id}}" data-type="kit" ><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78v0z" stroke-width="1.5" />
                                                </svg></button>
                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{#each this.product_variations}}
                                    <div class="col-sm-6 col-lg-4 card js-product">
                                        <div class="card-img"><a href="{{../this.slag}}"><img src="{{../this.image}}" alt="">
                                            {{#each ../this.promo_label}}<span class="card-labels d-flex flex-wrap">
                                                <span class="card-label" style="background-color: {{this.background}} ; ">{{this.label}}</span></span>{{/each}}</a>
                                        </div>
                                        <div class="card-info">
                                            <div class="card-code">{{../this.sku}}</div>
                                            <div class="card-title h5"><a href="{{../this.id}}" class="text-truncate line-2"> {{../this.name}}</a></div>
                                            <div class="card-excerpt text-truncate line-2"> {{../this.short_description}}</div>
                                            <div class="card-bott d-flex align-items-center justify-content-between">
                                                <div class="card-price">від {{this.price}} {{../../currency.decode}}.</div>

                                    {{#if ../user_id}}
                                        <button class="card-favourite add-to-favourite {{#if this.favourite }} active {{/if}}  "  data-id-product="{{this.id}}" data-type="kit"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78v0z" stroke-width="1.5" />
                                                    </svg></button>
                                    {{/if}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </div>

                        <div class="spacer-sm"></div>

                        {{> pagination }}

                    </div>
                </div>
            </div>
        </div>
        <!-- END CATALOG -->

        <!-- SEO BLOCK -->
        {{> seo }}
        <!-- END SEO BLOCK -->

    </main>
