

    <main>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <h1 class="h2 section-title type-1">Дякуємо за замовлення!</h1>
                        <div class="text-center">Деталі вашого замовлення надіслано на вказаний email: <span class="color-primary weight-normal">{{booking.address.email}}</span></div>
                        <div class="order-top d-flex justify-content-between">
                            <div class="order-num weight-medium color-dark">№{{booking.id}}</div>
                            <div class="order-date">{{booking.createdAt}}</div>
                        </div>
                        {{#each cart.orders.products}}
                            <div class="item-wrapp">
                                <div class="item d-flex">
                                    <div class="item-img"><a href="{{this.product.slag}}"><img src="{{this.product.image}}" alt="" class="img"></a></div>
                                    <div class="item-caption">
                                        <div class="card-code">{{product.sku}}</div>
                                        <div class="h5 item-title"><a href="{{this.product.slag}}">{{this.product.name}}</a></div>
                                        <p>{{this.product.short_description}}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="item-num">{{this.count}} шт</div>
                                            <div class="h5 item-price"><b class="price">{{this.price}}</b> грн</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
<!--                        <div class="item-wrapp">-->
<!--                            <div class="item d-flex">-->
<!--                                <div class="item-img"><a href="product-detail"><img src="/img/item2.jpg" alt="" class="img"></a></div>-->
<!--                                <div class="item-caption">-->
<!--                                    <div class="card-code">#DQDB2M</div>-->
<!--                                    <div class="h5 item-title"><a href="product-detail">Тримач для ножів</a></div>-->
<!--                                    <p>Сірий; 300×240×120 мм; BLUEMOTION; SERVOBOX</p>-->
<!--                                    <div class="d-flex justify-content-between">-->
<!--                                        <div class="item-num">1 шт</div>-->
<!--                                        <div class="h5 item-price"><b class="price">3750</b> грн</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-wrapp">-->
<!--                            <div class="item d-flex">-->
<!--                                <div class="item-img"><a href="product-detail"><img src="/img/item3.jpg" alt="" class="img"></a></div>-->
<!--                                <div class="item-caption">-->
<!--                                    <div class="card-code">#DQDB2M</div>-->
<!--                                    <div class="h5 item-title"><a href="product-detail">Тримач для тарілок</a></div>-->
<!--                                    <p>Сірий; 300×240×120 мм; BLUEMOTION; SERVOBOX</p>-->
<!--                                    <div class="d-flex justify-content-between">-->
<!--                                        <div class="item-num">1 шт</div>-->
<!--                                        <div class="h5 item-price"><b class="price">460</b> грн</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        {{#each cart.orders.kits}}
                            <div class="item-wrapp">
                                <div class="item d-flex">
                                    <div class="item-img"><a href="{{this.product_kit.slag}}"><img src="{{this.product_kit.image}}" alt="" class="img"></a></div>
                                    <div class="item-caption">
                                        <div class="card-code">{{this.product_kit.sku}}</div>
                                        <div class="h5 item-title"><a href="{{this.product_kit.slag}}">{{this.product_kit.name}}</a></div>
                                        <p>{{this.product_kit.short_description}}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="item-num">{{this.count}} шт</div>
                                            <div class="h5 item-price"><b class="price">{{this.price}}</b> грн</div>
                                        </div>
                                    </div>
                                </div>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    {{#each this.kit_products}}
                                        <tr>
                                            <td>{{this.product.name}}</td>
                                            <td class="nowrap">{{this.info.quantity}} шт.</td>
<!--                                            <td>Коричневий</td>-->
                                        </tr>
                                    {{/each}}
<!--                                    <tr>-->
<!--                                        <td>Тримач для ножів</td>-->
<!--                                        <td class="nowrap">2 шт.</td>-->
<!--                                        <td>Коричневий</td>-->
<!--                                    </tr>-->
                                </table>
                            </div>
                        {{/each}}
<!--                        <div class="item-wrapp">-->
<!--                            <div class="item d-flex">-->
<!--                                <div class="item-img"><a href="product-detail"><img src="/img/item1.jpg" alt="" class="img"></a></div>-->
<!--                                <div class="item-caption">-->
<!--                                    <div class="card-code">#DQDB2M</div>-->
<!--                                    <div class="h5 item-title"><a href="product-detail">Підіймальний механізм AVENTO HS з системою підвищеного навантеження 50+ кг</a></div>-->
<!--                                    <p>Сірий; 300×240×120 мм; BLUEMOTION; SERVOBOX; Матове скло; Захисна плівка</p>-->
<!--                                    <div class="d-flex justify-content-between">-->
<!--                                        <div class="item-num">1 шт</div>-->
<!--                                        <div class="h5 item-price"><b class="price">2460</b> грн</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="simple-page p-0 mt-30 mt-xl-60">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>Доставка:</td>
                                    {{#ifCond booking.address.delivery_type '==' '0'}}
                                        <td>{{booking.address.delivery}}</td>
                                    {{/ifCond}}
                                    {{#ifCond booking.address.delivery_type '==' '1'}}
                                        <td>{{booking.address.delivery}}, {{booking.address.city}}, {{booking.address.department}} {{#if booking.delivery_price}}{{booking.delivery_price}} грн{{/if}}</td>
                                    {{/ifCond}}
                                    {{#ifCond booking.address.delivery_type '==' '2'}}
                                        <td>{{booking.address.delivery}}, {{booking.address.city}}, {{booking.address.department}} {{#if booking.delivery_price}}{{booking.delivery_price}} грн{{/if}}</td>
                                    {{/ifCond}}
                                    {{#ifCond booking.address.delivery_type '==' '3'}}
                                        <td>м. {{booking.address.city}}, вул. {{booking.address.street}}{{booking.address.house}}{{#if booking.address.apartment}},{{booking.address.apartment}}{{/if}}</td>
                                    {{/ifCond}}
                                </tr>
                                <tr>
                                    <td>Оплата:</td>
                                    <td>{{booking.address.pay}}</td>
                                </tr>
                                <tr>
                                    <td>Покупець:</td>
                                    <td>{{booking.address.last_name}} {{booking.address.first_name}} [{{booking.address.phone}}]</td>
                                </tr>
                                {{#if booking.comment}}
                                    <tr>
                                        <td>Коментар:</td>
                                        <td>{{booking.comment}}</td>
                                    </tr>
                                {{/if}}
                            </table>
                        </div>
                        <div class="text-center mt-30 mt-xl-60"><a href="/" class="btn btn-primary btn-invert">Перейти на головну</a></div>
                    </div>
                </div>
            </div>
        </div>

    </main>
