

    <main>

        <!-- PRODUCT -->
        <div class="section single-product pt-xl-0 js-product">
            <nav class="breadcrumbs type-1 d-none d-xl-block">
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/catalog">Вироби</a></li>
                    <li><a href="/{{#each category}}{{this.slag}}{{/each}}"> {{#each category}} {{this.title}} {{/each}}</a></li>
                    <li><span>{{name}}</span></li>
                </ul>
            </nav>
            <div class="container">

                <div class="row">
                    <div class="col-xl-6 offset-xl-1">
                        <div class="swiper-thumbs product-gallery">
                            <div class="swiper-entry">
                                <div class="swiper-container swiper-thumbs-top" data-options='{"watchSlidesVisibility": true}'>
                                    <div class="swiper-wrapper">
                                        {{#each gallery}}

                                            <div class="swiper-slide"><span><img src="/img/preloader.jpg" data-i-src="{{this}}" alt="" class="img"></span></div>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>

                            <div class="swiper-entry">
                                <div class="swiper-container swiper-thumbs-bottom" data-options='{"slidesPerView":4, "spaceBetween":10, "watchSlidesVisibility": true, "watchSlidesProgress": true, "breakpoints": {"768":{"slidesPerView":6}}}'>
                                    <div class="swiper-wrapper">
                                        {{#each gallery}}

                                            <div class="swiper-slide"><span><img src="/img/preloader.jpg" data-i-src="{{this}}" alt="" class="img"></span></div>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>
                            <span class="card-labels d-flex flex-wrap">
                                    <span class="card-label color-1">Новинка</span>
                                    <span class="card-label color-3">Рекомендуємо</span>
                                </span>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card-code mb-25">{{color}}</div>
                        <h1 class="h2 mb-10">{{name}}</h1>
                        <div class="simple-page p-0 mb-40">
                            {{short_description}}
                        </div>
<!--                        <div class="product-select d-flex align-items-center">-->
<!--                            Розмір:-->
<!--                            <div class="select-box">-->
<!--                                <select class="SelectBox default">-->
<!--                                    <option>300×240×120 мм</option>-->
<!--                                   -->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
                        {{#if first_name}}
                            <div class="d-flex justify-content-between align-items-center mt-20 mt-sm-0">
                                <div class="product_price h4 color-primary" itemprop="price"><b class="price">{{price}}</b> {{currency.decode}}</div>
                                <div class="btn btn-primary type-1 d-flex d-sm-none align-items-center order-btn add-product-to-cart" product = "{{id}}" variation = "{{variation.id}}"><svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.75h3.39c.234 1.108.597 2.705.995 4.42a1031.083 1031.083 0 002.061 8.685l.157.648.041.172.011.045.003.011v.003l.73-.176-.73.177.14.573h.59v-.75.75h12.885l.146-.562-.727-.188.727.188v-.002l.001-.004.004-.015.016-.061.06-.233a452.38 452.38 0 00.905-3.583c.519-2.087 1.101-4.499 1.332-5.708l.17-.89H5.712A180.997 180.997 0 014.735.853L4.615.25H0v1.5zm7.983 13.058h-.005l-.074-.305A1429.431 1429.431 0 016.06 6.75h15.018a195.99 195.99 0 01-1.129 4.736 508.422 508.422 0 01-.838 3.322H7.983zM8 21.5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0zm10 .5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg><button>Додати в кошик</button></div>
                            </div>
                            <div class="product-buttons d-flex justify-content-center justify-content-sm-start align-items-center">
                                <button  class="btn btn-primary type-1 d-none d-sm-flex align-items-center mr-sm-20 mr-lt-40 order-btn add-product-to-cart" product = "{{id}}" variation = "{{variation.id}}"><svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.75h3.39c.234 1.108.597 2.705.995 4.42a1031.083 1031.083 0 002.061 8.685l.157.648.041.172.011.045.003.011v.003l.73-.176-.73.177.14.573h.59v-.75.75h12.885l.146-.562-.727-.188.727.188v-.002l.001-.004.004-.015.016-.061.06-.233a452.38 452.38 0 00.905-3.583c.519-2.087 1.101-4.499 1.332-5.708l.17-.89H5.712A180.997 180.997 0 014.735.853L4.615.25H0v1.5zm7.983 13.058h-.005l-.074-.305A1429.431 1429.431 0 016.06 6.75h15.018a195.99 195.99 0 01-1.129 4.736 508.422 508.422 0 01-.838 3.322H7.983zM8 21.5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0zm10 .5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>Додати в кошик</button>
                                <button class="btn-link btn-favourite d-flex align-items-center add-to-favourite {{#if this.favourite }} active {{/if}} "  data-id-product="{{id}}" data-type="product"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78v0z" stroke-width="1.5" />
                                </svg>Додати в улюблені</button>
                            </div>
                        {{/if}}
                    </div>
                </div>

                <div class="spacer-80"></div>



                <div class="spacer-30"></div>

                {{#if first_name}}
                <div class="container">
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center add-product-to-cart" product="{{id}}" variation="{{variation.id}}">
                        <div class="product_price h4 color-primary m-0 w-auto" itemprop="price"><b class="price">{{price}}</b> {{currency.decode}}</div>
                        <div class="btn btn-primary type-1 d-flex align-items-center ml-sm-55 mt-20 mt-sm-0 order-btn"><svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.75h3.39c.234 1.108.597 2.705.995 4.42a1031.083 1031.083 0 002.061 8.685l.157.648.041.172.011.045.003.011v.003l.73-.176-.73.177.14.573h.59v-.75.75h12.885l.146-.562-.727-.188.727.188v-.002l.001-.004.004-.015.016-.061.06-.233a452.38 452.38 0 00.905-3.583c.519-2.087 1.101-4.499 1.332-5.708l.17-.89H5.712A180.997 180.997 0 014.735.853L4.615.25H0v1.5zm7.983 13.058h-.005l-.074-.305A1429.431 1429.431 0 016.06 6.75h15.018a195.99 195.99 0 01-1.129 4.736 508.422 508.422 0 01-.838 3.322H7.983zM8 21.5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0zm10 .5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg><button>Додати в кошик</button></div>
                    </div>
                </div>
                {{/if}}



                <div class="spacer-80"></div>

                <div class="tabs">
                    <div class="row">
                        <div class="tab-nav mb-0 col-xl-8 offset-xl-2">
                            <div class="tab-toggle overflow-auto d-flex justify-content-start justify-content-md-center">
                                <div class="active">Опис товару</div>
                                <div>Характеристики</div>
                                <div>використання</div>
                                <div>Переваги</div>
                                <div>Корисні файли</div>
                            </div>
                            <div class="spacer-80"></div>
                        </div>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="tab">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="simple-page p-0 section">
                                    {{description}}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END DESCRIPTION -->
                    <!-- FEATURES -->
                    <div class="tab">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="simple-page p-0 section">
                                    <h4>Характеристики</h4>
                                    <div class="simple-table">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            {{#each as_product_kit_to_attribute}}

                                                <tr>

                                                    <td>{{this.title}}</td>
                                                    <td>{{this.product_kit_to_attribute.value}}</td>
                                                </tr>


                                            {{/each}}


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FEATURES -->
                    <!-- USING -->
                    <div class="tab">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="simple-page p-0 section">
                                    <h4 class="text-center">Приклади використання</h4>
                                    <div class="simple-swiper">
                                        <div class="swiper-entry">
                                            <div class="swiper-container" data-options='{"slidesPerView":1,"autoHeight":true}'>
                                                <div class="swiper-wrapper">

                                                    <!--                                                    <div class="swiper-slide">-->
                                                    <!--                                                        <div class="img-wrapp"><img src="/img/simple-slide1.jpg" alt="" class="img"></div>-->
                                                    <!--                                                        <figure class="simple-figure">-->
                                                    <!--                                                            <figcaption>Дев’ять ножів різного розміру надійно зафіксовані</figcaption>-->
                                                    <!--                                                        </figure>-->
                                                    <!--                                                    </div>-->

                                                </div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                            <div class="swiper-button-prev"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                                            </svg></div>
                                            <div class="swiper-button-next"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                                            </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END USING -->
                    <!-- BENEFITS -->
                    <div class="tab">
                        <div class="benefits">
                            <!--                            <div class="row benefit">-->
                            <!--                                <div class="col-xl-6 offset-xl-1">-->
                            <!--                                    <div class="pr-xl-27"><img src="/img/preloader.jpg" data-i-src="/img/benefit-1.jpg" alt="" class="img"></div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-xl-3">-->
                            <!--                                    <div class="benefit-desc d-flex flex-column justify-content-center">-->
                            <!--                                        <div class="benefit-title d-flex align-items-center h4">Користуватися просто</div>-->
                            <!--                                        <p>Якісна система внутрішніх розділювачів, яка гарантує бездоганний порядок у будь-якій шухляді. Столове приладдя, пляшки, каструлі – все кухонне приладдя можна розмістити надійно і комфортно. Організуйте корисний простір так, як зручно Вам</p>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="row benefit">-->
                            <!--                                <div class="col-xl-3 offset-xl-2 order-2 order-xl-1">-->
                            <!--                                    <div class="benefit-desc d-flex flex-column justify-content-center">-->
                            <!--                                        <div class="benefit-title d-flex align-items-center h4">Користуватися просто</div>-->
                            <!--                                        <p>Якісна система внутрішніх розділювачів, яка гарантує бездоганний порядок у будь-якій шухляді. Столове приладдя, пляшки, каструлі – все кухонне приладдя можна розмістити надійно і комфортно. Організуйте корисний простір так, як зручно Вам</p>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-xl-6 order-1 order-xl-2">-->
                            <!--                                    <div class="pl-xl-27"><img src="/img/preloader.jpg" data-i-src="/img/benefit-2.jpg" alt="" class="img"></div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                        </div>
                    </div>
                    <!-- END BENEFITS -->
                    <!-- FILES -->
                    <div class="tab">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <!--                                <div class="simple-page p-0">-->
                                <!--                                    <div class="h4 text-center">Дев’ять ножів різного розміру надійно зафіксовані</div>-->
                                <!--                                    <figure class="simple-figure">-->
                                <!--                                        <iframe src="https://www.youtube.com/embed/rZUSk5gH8YE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                                <!--                                        <figcaption>Представництво компанії Blum (Австрія) в Україні працювало ще раніше – з 2005 року</figcaption>-->
                                <!--                                    </figure>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!-- END FILES -->
                </div>

                <div class="spacer-80"></div>
    {{#if similar_products}}
                <!-- SIMILAR -->
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="h2 section-title type-2 text-center color-dark">Схожі товари</div>
                        <div class="swiper-entry swiper-2">
                            <div class="swiper-button-prev d-none d-xl-flex"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06077 7.00006L8.53044 1.53039L7.46978 0.469727L1.46978 6.46973L0.939453 7.00006L1.46978 7.53039L7.46978 13.5304L8.53044 12.4697L3.06077 7.00006Z" />
                            </svg></div>
                            <div class="swiper-button-next d-none d-xl-flex"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52941 0.469727L7.52941 6.46973L8.05974 7.00006L7.52941 7.53039L1.52941 13.5304L0.46875 12.4697L5.93842 7.00006L0.46875 1.53039L1.52941 0.469727Z" />
                            </svg></div>
                            <div class="swiper-container" data-options='{"autoHeight": true, "spaceBetween": 15, "pagination": {"el": ".swiper-pagination", "type": "fraction"}, "breakpoints": {"320": {"slidesPerView": 1}, "576": {"slidesPerView": 2, "autoHeight": false}, "992": {"slidesPerView": 3, "spaceBetween": 30}, "1200": {"slidesPerView": 4, "spaceBetween": 30, "pagination": {"el": ".swiper-pagination", "type": "bullets", "clickable": true}}}}'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        {{#each similar_products}}
                                            <div class="swiper-slide">

                                                <div class="card">
                                                    <div class="card-img"><a href="{{this.slag}}"><img src="{{this.image}}" data-i-src="{{this.image}}" alt="">
                                                        {{#each ../this.promo_label}}<span class="card-labels d-flex flex-wrap">
                                                <span class="card-label" style="background-color: {{this.background}} ; ">{{this.label}}</span></span>{{/each}}
                                                    </a>
                                                    </div>
                                                    <div class="card-info">
                                                        <div class="card-code">{{this.sku}}</div>
                                                        <div class="card-title h5"><a href="{{this.slag}}" class="text-truncate line-2">{{this.name}}</a></div>
                                                        <div class="card-excerpt text-truncate line-2">{{this.short_description}}</div>
                                                        <div class="card-bott d-flex align-items-center justify-content-between">
                                                            <div class="card-price type-1">{{this.price}} {{currency.decode}}</div>
                                                            {{#if first_name}}
                                                                <div class="card-options d-flex">
                                                                    <button class="card-favourite add-to-favourite"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78v0z" stroke-width="1.5" />
                                                                    </svg></button>

                                                                    <button class="card-favourite add-to-favourite {{#if this.favourite }} active {{/if}} " data-id-product="{{this.id}}" data-type="kit" ><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78v0z" stroke-width="1.5" />
                                                                    </svg></button>
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        {{/each}}

                                    </div>

                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SIMILAR -->
    {{/if}}
            </div>
        </div>
        <!-- END PRODUCT -->

        <div class="sticky-product js-product">
            <div class="h6 weight-normal">Комплект підіймальних механізмів AVENTOS HL</div>
            <div class="product_price h6 color-primary" itemprop="price"><b class="price">297</b> {{currency.decode}}</div>
            {{#if first_name}}
            <button class="card-cart order-btn"><svg width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.75h3.39c.234 1.108.597 2.705.995 4.42a1031.083 1031.083 0 002.061 8.685l.157.648.041.172.011.045.003.011v.003l.73-.176-.73.177.14.573h.59v-.75.75h12.885l.146-.562-.727-.188.727.188v-.002l.001-.004.004-.015.016-.061.06-.233a452.38 452.38 0 00.905-3.583c.519-2.087 1.101-4.499 1.332-5.708l.17-.89H5.712A180.997 180.997 0 014.735.853L4.615.25H0v1.5zm7.983 13.058h-.005l-.074-.305A1429.431 1429.431 0 016.06 6.75h15.018a195.99 195.99 0 01-1.129 4.736 508.422 508.422 0 01-.838 3.322H7.983zM8 21.5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0zm10 .5a.5.5 0 100-1 .5.5 0 000 1zm2-.5a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg></button>
            {{/if}}
        </div>

    </main>

