

    <main>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-3 offset-lg-1">
                        <div class="categories-menu">
                            <!-- <div class="category-title d-xl-none">Історія замовлень</div> -->
                            <ul class="links categories-list d-none d-lg-block">
                                <li class="categories-list-item"><a href="/client/cabinet">Особисті дані</a></li>
                                <li class="categories-list-item active"><a href="/client/cabinet/history-orders" class="current">Історія замовлень</a></li>
                                <li class="categories-list-item"><a href="/client/cabinet/password">Зміна паролю</a></li>
                            </ul>
                            <div class="select-box type-1 d-lg-none">
                                <select class="SelectBox default" onchange="location = this.value;">
                                    <option value="cabinet">Особисті дані</option>
                                    <option selected value="cabinet-history">Історія замовлень</option>
                                    <option value="cabinet-password">Зміна паролю</option>
                                </select>
                            </div>
                        </div>
                        <div class="spacer-xs"></div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <a href="/client/cabinet/history-orders" class="btn-link d-flex align-items-center"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0608 12.0001L15.5304 6.53039L14.4698 5.46973L8.46978 11.4697L7.93945 12.0001L8.46978 12.5304L14.4698 18.5304L15.5304 17.4697L10.0608 12.0001Z" />
                        </svg>Назад</a>
                        <div class="order-table order-head">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="33%">№{{id}}</td>
                                    <td width="33%" class="text-center">{{formatDateTime date 2}}</td>
                                    <td width="33%" class="status-1 text-right">{{statusText}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="spacer-30"></div>
                        {{#each orders}}
                            <div class="item-wrapp">
                                <div class="item d-flex">
                                    <div class="item-img"><a href="/shop/product/{{this.product.id}}"><img src="{{#if this.product.product_variations.0.gallery}} {{splitStr this.product.product_variations.0.gallery ','}} {{else}} {{#if this.product.gallery}} {{splitStr this.product.gallery ','}} {{/if}}  {{/if}}" alt="" class="img"></a></div>
                                    <div class="item-caption">
                                        <div class="card-code">{{#if this.product.product_variations.0.sku}} {{this.product.product_variations.0.sku}} {{else}} {{this.product.sku}} {{/if}}</div>
                                        <div class="h5 item-title"><a href="/shop/product/{{this.product.id}}">{{this.product.name}}</a></div>
                                        <p>{{this.product.description}}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="item-num">{{this.count}} шт</div>
                                            <div class="h5 item-price"><b class="price">{{this.price}}</b> грн</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        <div class="order-total color-dark d-flex justify-content-between">Загальна вартість: <span><b>{{total_price}}</b> грн</span></div>
                        <div class="simple-page p-0">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>Доставка:</td>
                                    <td>{{address.city}}, {{address.street}}, {{address.house}}, {{address.apartment}}</td>
                                </tr>
                                <tr>
                                    <td>Оплата:</td>
                                    <td>{{address.pay_type}}</td>
                                </tr>
                                <tr>
                                    <td>Покупець:</td>
                                    <td>{{address.last_name}} {{address.first_name}} [{{address.phone}}]</td>
                                </tr>
                                <tr>
                                    <td>Коментар:</td>
                                    <td>{{comment}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="spacer-40"></div>
                        <div class="title style-1 weight-bold">Рахунки</div>
                        <ul class="list-1">
                            {{#each booking_attachments}}
                                {{#ifCond this.doc_type '==' '1'}}
                                    <li><a href="/dealer/crm-dealer-download-booking-attachments/{{this.id}}" target="_blank">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M8.00134 1.25L7.25 1.24866V2V3V3.25H6H4H3.25V4V6V20V22V22.75H4H6H18H20H20.75V22V20V6V4V3.25H20H18H16.75V3V2.00168V1.25293L16.0013 1.25168L15.0013 1.25H15H9C8.97448 1.25 8.94904 1.25055 8.9237 1.25164L8.00134 1.25ZM15.25 4.75V3.25V3V2.75042L15 2.75H14.9994H9C8.99478 2.75 8.98969 2.75015 8.98471 2.75043L8.96248 2.75171L8.94021 2.75167L8.75 2.75134V3V3.25V4.75V5V5.25H9H15H15.25V5V4.75ZM7.25 4.75V5V6V6.75H8H9H15H16H16.75V6V5V4.75H18H19.25V6V20V21.25H18H6H4.75V20V6V4.75H6H7.25ZM16.9374 11.4515H7.06641V9.95147H16.9374V11.4515ZM16.9374 14.7418H7.06641V13.2418H16.9374V14.7418ZM7.06641 18.0322H16.9374V16.5322H7.06641V18.0322Z"/>
                                        </svg>
                                        {{this.path}}</a></li>
                                {{/ifCond}}
                            {{/each}}
                        </ul>
                        <div class="divider"></div>
                        <div class="title style-1 weight-bold">Фінальне замовлення</div>
                        <ul class="list-1">
                            {{#each booking_attachments}}
                                {{#ifCond this.doc_type '==' '2'}}
                                    <li><a href="/dealer/crm-dealer-download-booking-attachments/{{this.id}}" target="_blank">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M8.00134 1.25L7.25 1.24866V2V3V3.25H6H4H3.25V4V6V20V22V22.75H4H6H18H20H20.75V22V20V6V4V3.25H20H18H16.75V3V2.00168V1.25293L16.0013 1.25168L15.0013 1.25H15H9C8.97448 1.25 8.94904 1.25055 8.9237 1.25164L8.00134 1.25ZM15.25 4.75V3.25V3V2.75042L15 2.75H14.9994H9C8.99478 2.75 8.98969 2.75015 8.98471 2.75043L8.96248 2.75171L8.94021 2.75167L8.75 2.75134V3V3.25V4.75V5V5.25H9H15H15.25V5V4.75ZM7.25 4.75V5V6V6.75H8H9H15H16H16.75V6V5V4.75H18H19.25V6V20V21.25H18H6H4.75V20V6V4.75H6H7.25ZM16.9374 11.4515H7.06641V9.95147H16.9374V11.4515ZM16.9374 14.7418H7.06641V13.2418H16.9374V14.7418ZM7.06641 18.0322H16.9374V16.5322H7.06641V18.0322Z"/>
                                        </svg>
                                        {{this.path}}</a></li>
                                {{/ifCond}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>
