<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="education/GetAssignedTraining" method="get">
    <h1><p>Hello {{DATE}},{{Time}},{{NUMBER}},{{status}},{{contact}}</p></h1>
</form>
</body>
</html>