

    <main>

        <!-- NEWS -->
        <div class="section">
            <div class="container">
                <h1 class="h2 section-title">Новини</h1>
                <div class="row cols-2" id="BlogAjax">
                    {{#each posts}}
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <div class="post">
                                {{#if this.image includeZero=true}}
                                    <div class="post-img"><a href="{{this.id}}"><img src="{{this.image}}" alt="" class="img"></a><span class="post-date">{{this.createdAt}}</span></div>
                                {{else}}
                                    <div class="post-img"><a href="{{this.id}}"><img src="/img/post-1.jpg" alt="" class="img"></a><span class="post-date">{{this.createdAt}}</span></div>
                                {{/if}}
                                <div class="post-info">
                                    <a href="{{this.id}}" class="h5 post-title d-block">{{this.title}}</a>
                                    <div class="post-excerpt text-truncate line-3">{{{this.subtitle}}}</div>
                                </div>
                            </div>
                        </div>
                        {{#ifCond this.lastObjStatus '==' "1"}}
                            <div class="col-md-6 col-xl-5">
                                <div class="post">
                                    {{#if this.lastObj.image includeZero=true}}
                                        <div class="post-img"><a href="{{this.lastObj.id}}"><img src="{{this.lastObj.image}}" alt="" class="img"></a><span class="post-date">{{this.lastObj.createdAt}}</span></div>
                                        {{else}}
                                        <div class="post-img"><a href="{{this.lastObj.id}}"><img src="/img/post-1.jpg" alt="" class="img"></a><span class="post-date">{{this.lastObj.createdAt}}</span></div>
                                    {{/if}}
                                    <div class="post-info">
                                        <a href="{{this.lastObj.id}}" class="h5 post-title d-block">{{this.lastObj.title}}</a>
                                        <div class="post-excerpt text-truncate line-3">{{{this.lastObj.subtitle}}}</div>
                                    </div>
                                </div>
                            </div>
                        {{/ifCond}}
                    {{/each}}


                </div>

                <div class="spacer-sm"></div>

                {{> pagination-blog }}

            </div>
        </div>
        <!-- END NEWS -->

    </main>

